body{
}

header{
	margin-bottom: 15px;
}

.navbar-nav li a{
	
		font-size: 22px;
		font-weight: 500;

}

nav div ul li a:hover{
	background-color: ;
	border-radius: 5px;
	background-color: rgba(237, 237, 238, 0.72);
	border-bottom: 3px solid orange;

}

nav{
	padding-top: 0px;
	padding-bottom: 0px;
	border: 1px solid grey;
	border-radius: 2px;
	-webkit-box-shadow: 0 0 5px 5px #888;
	box-shadow: 0 0 5px 5px #888;
}

@media screen and (min-width: 992px) {
nav div{
	position: absolute;
	right: 120px;
}
}


.content{
	width: 97%;
	margin: 0px auto;
}
.section_carousel{
	margin-bottom: 10px;
}
.carousel-caption{
	border-radius: 3px;
	background-color: rgba(0,0,0,0.6);
}
.card-tete{
	background-color: orange;
	color: white;
}
.categorie{
	text-align: center;
	background-color: rgba(237, 237, 238, 0.72);
	border-radius: 5px;
	margin: 10px auto;

}

.cat1, .cat2, .cat3{
		text-align: center;
		position: relative;
		padding: 3px 5px;
		box-shadow: 1px 1px 2px 1px violet;
		border-radius: 1px;
		margin-bottom: 15px;

}

.cat1 p, .cat2 p, .cat3 p{
	background-color: #fff;
	width: 98%;
	margin: 2px auto;
	border-radius: 2px;
	font-size: 20px;
	color: rgba(4, 5, 5, 0.9);
}

.cat_img:hover{
	border: 4px solid red;
	transition: 0.8s;

	transform: scale(1.1);
}
.categorie_titre{
	font-weight: bold;
	/*border-top: 5px dashed violet;*/
	border-bottom: 5px solid #ef5f5f;;
	display: block;
	width: 100%;
	text-align: center;
	font-size: 35px;
	margin: 22px auto;
	border-radius: 5px;
	color: #ef5f5f;

}


.annonce{
	display: flex;
	flex-direction: row;
	height: 40px;
	width: 100%;
	margin: 10px auto;
	border: 3px solid violet;
	border-radius:5px;

}

.an_annonce{
	width: 30%;
	height: auto;
	color: #fff;
	background-color: violet;
	text-align: center;
	font-weight: bold;
	font-size: 30px;
}

.an_content{
	width: 70%;
	color: green;
	font-weight: bold;
	font-size: 20px;
}
.an_annonce span{
	position: relative;
	bottom: 10px;
}

.an_content{
	width: 80%;
	font-size: 20PX;
	font-weight: bolder;
	color: green;
	font-family: cursive;
}

#contact
{
    padding: 25px 0;
    text-align: center;
    border: 1px solid grey;
    border-radius: 5px;
}
#contact h3
{
    
    text-transform: uppercase;
    margin: 0 auto 20px auto;
    border-bottom:  1px solid #02b8dd;
    padding-bottom: 20px;   
}
form
{
    margin: 60px 0 20px 0;
}
label
{
    font-weight: bold;
    font-size: 20px;
    margin-right: 10px;
    color: #777;
}
input[type="text"]
{
    padding:10px;
    font-size: 20px;
    margin-right: 20px;
    border: 2px solid #ddd;
    border-radius: 3px;
}

.reservation{
	background-color: rgba(190, 229, 235, 1);
	 box-shadow: 0px 0px 5px 5px #888;
	 margin: 20px auto; 
	 padding: 10px 10px;
}

.reservation button{
	display: block;
	margin: 5px auto;
}
.reservation button a{
	color: white;
}

.etape_desc{
	border-left: 3px solid blue;
	padding-left: 10px;
}

.etape_desc span{
	background-color: black;
	color: red;
	border-bottom:3px solid red;
	border-left: 3px solid red;
	border-radius: 4px;

}


footer{
	display: block;
	width: 100%;
	background-color: #d0c5c5;
	margin-top: 10px;
	padding: 5px 15px;
}

footer h2{
	border-bottom: 3px solid black;
	width: 100%;
}

.foot_content{
	display: block;
	margin-bottom: 20px;
	background-color: ;
}
